{% extends "base.html" %}


    {% block content %}

        {% load static %}

        <div style="display: flex; margin-top: 10rem; ">


            <div class = "pic" style="margin-right: 25px; margin-left: 3rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" vertical-align="left" src="{% static "leo/images/SettingsGear.png" %}">
            </div>


            <div class="content">

                <div>
                    <div class="containerCard" style="margin-right: 10px; background-image: url('{% static 'leo/images/Pattern.png' %}');">
                        <img src="{% static "leo/images/Card Logo.png" %}">
                        <div>
                            <h5>Cardholder 1:</h5><p style="color: white">John Smith</p>
                        </div>
                        <div>
                            <h5>Lookup ID:</h5><p>7654321</p>
                        </div>
                        <div>
                            <h5>Type:</h5><p>Basic</p>
                        </div>
                        <div>
                           <h5>Membership ID:</h5><p>1234567</p>
                        </div>
                        <div>
                           <h5>Member Since:</h5><p>2021</p>
                        </div>
                        <div>
                            <h5>Valid Through:</h5><p>2022</p>
                        </div>
                    </div>
                    <div class="containerCard" style="margin-right: 10px; background-image: url('{% static 'leo/images/Pattern.png' %}');">
                        <img src="{% static "leo/images/Card Logo.png" %}">
                        <div>
                            <h5>Cardholder 2:</h5><p style="color: white">John Smith</p>
                        </div>
                        <div>
                            <h5>Lookup ID:</h5><p>7654321</p>
                        </div>
                        <div>
                            <h5>Type:</h5><p>Basic</p>
                        </div>
                        <div>
                           <h5>Membership ID:</h5><p>1234567</p>
                        </div>
                        <div>
                           <h5>Member Since:</h5><p>2021</p>
                        </div>
                        <div>
                            <h5>Valid Through:</h5><p>2022</p>
                        </div>
                    </div>
                </div>


                <div class="ACCT Header" style="font-weight: bolder; font-size: 15px;">
                    <h1><b>My Membership</b></h1>
                </div>

                <hr style="height:4px; width:600px; border:none; color: black; background-color: black;">

                <div class="ACCT info">

                    <h3>Your Profile</h3><h3 style="font-weight: bold;font-size: 10px;"></h3>
                    <hr style="color: white;">
                    <h4>Account Number</h4>
                    <p>1234567</p>
                    <hr style="color: white">
                    <h4>Email</h4>
                    <p>user@test.com</p>
                    <hr style="color: white">
                    <h4>Password</h4>
                    <p>**********</p>
                </div>

                <div class="Options Header" style="font-size: 20px; font-weight: bolder;">
                <h2>Membership Options</h2>
                </div>

                <hr style="height:4px; border:none; color: black; background-color: black;">

                <div class="Name of Membership Type" style="font-weight: bolder;">
                    <div style="background-color: white; padding: 1rem;">
                        <h3>Name of Membership Type</h3>
                        <a>Membership Description</a><a style="font-weight: lighter;"></a>
                        <!--Need to add little blue box here (left side)-->
                    </div>
                </div>

                <hr style="height:4px; border:none; color: black; background-color: black;">

                <div class="Other options">
                    <h3>Your Lounge</h3>
                    <hr style="color: white">
                    <div style="display: flex;">
                        <div style="margin-right: 1rem">
                            <img style="height:75px; width:auto;margin-left:30px;" src="{% static "leo/images/Newsletter.png" %}">
                        </div>
                        <div style="flex-grow: 1">
                            <h4><a href = "{% url 'newsletter' %}" ><b>Newsletter</b></a></h4>
                            <p>Some Description</p>
                        </div>
                    </div>
                    <hr style="color: white">
                    <div style="display: flex;">
                        <div style="margin-right: 1rem">
                            <img style="height:75px; width:auto;margin-left:30px;" src="{% static "leo/images/Calendar (1).png" %}">
                        </div>
                        <div style="flex-grow: 1">
                            <h4><a href="{% url 'calendar' %}"><b>Calendar</b></a></h4>
                            <p>Some Description</p>
                        </div>
                    </div>
                    <hr style="color: white">
                    <div style="display: flex;">
                        <div style="margin-right: 2rem; margin-left: 1rem">
                            <img style="height:75px; width:auto;margin-left:30px;" src="{% static "leo/images/Asset 8.png" %}">
                        </div>
                        <div style="flex-grow: 1">
                            <h4><a href="{% url 'exclusive' %}"><b>Exclusive Content</b></a></h4>
                            <p>Some Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 100px;"></div>

    {% endblock %}