{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div style="display: flex; margin-top: 10rem;">
            <div style="margin-right: 25px; margin-left: 25px; margin-top: 100px">
                <img style="height:150px; width:auto; margin-top: 25px;" vertical-align="left" src="{% static "leo/images/Calendar (1).png" %}">
            </div>

            <div style="flex-grow: 1; margin-right: 200px; margin-top: 50px">
                <h1><b>Calendar</b></h1>
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&src=bWlra2VsLmUuc29sYmFra2VuQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=czV2cjZpZmRjOTYwa3JhbXQ5ZGs1YTN0bmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=bm8ubm9yd2VnaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%2333B679&color=%23EF6C00&color=%230B8043"
                            style="border:solid 8px #76C4D5; margin-left: auto; margin-right: auto" width="1200" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>

        <div style="margin-bottom: 100px"></div>
    {% endblock %}
