{% extends "base.html" %}


    {% block content %}

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        {% load static %}
        <div style=" margin-top: 10rem;">
            <div class = "pic" style=" margin-left: 3rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" src="{% static "leo/images/Calendar_1Final.png" %}">
            </div>
            <div class="content">
                <h1><b>Calendar</b></h1>
            </div>
            <div class="iframeWrapper">
                <h1>{{ title }}</h1>
                  <!--<iframe src="{{ calenderLink.url }}"></iframe>
                  -->
                    <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&showNav=0&showDate=0&showPrint=0&showTabs=1&showTz=0&showCalendars=1&src=bm8ubm9yd2VnaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043"></iframe>

            </div>
        </div>

        <div style="margin-bottom: 100px"></div>
    {% endblock %}