{% extends "base.html" %}


    {% block content %}

    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        {% load static %}
        <div style=" margin-top: 10rem;">
            <div class = "pic" style=" margin-left: 3rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" src="{% static "leo/images/Calendar2.png" %}">
            </div>
            <div class="content">
                <h1><b>Calendar</b></h1>
            </div>
            <div class="iframeWrapper">

                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FDenver&src=bWlra2VsLmUuc29sYmFra2VuQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=czV2cjZpZmRjOTYwa3JhbXQ5ZGs1YTN0bmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=bm8ubm9yd2VnaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB&color=%2333B679&color=%23EF6C00&color=%230B8043"></iframe>
            </div>
        </div>

        <div style="margin-bottom: 100px"></div>
    {% endblock %}