{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div class="outer">
             <a href="header/" class="container blockLink">
                <img class ="smallimg" style="width:90%" src="{% static "leo/images/Asset 11.png" %}">
                <div>
                    <h3 style="text-align: center;">Account</h3>
                </div>
            </a>
            <a href="header/" class="container blockLink">
                <img class ="smallimg" style="width:90%" src="{% static "leo/images/Newsletter.png" %}">
                <div>
                    <h3 style="text-align: center;">Newsletter</h3>
                </div>
            </a>
            <a href="header/" class="container blockLink">
                <img class ="smallimg" style="width:90%" src="{% static "leo/images/Calendar (1).png" %}">
                <div>
                    <h3 style="text-align: center;">Calendar</h3>
                </div>
            </a>
            <a href="header/" class="container blockLink">
                <img class ="smallimg" style="width:90%" src="{% static "leo/images/Asset 8.png" %}">
                <div>
                    <h3 style="text-align: center;">Exclusive Content</h3>
                </div>
            </a>
        </div>


    {% endblock %}
