{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="outer">
    <div class="card">
        <a href="{% url 'calendar' %}" class="container blockLink">
            <img class="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Calendar (1).png" %}">
        </a>
        <h3 style="text-align: center;">Calendar</h3>
    </div>
    <div class="card">
        <a href="{% url 'account' %}" class="container blockLink">
            <img class="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Chair2.png" %}">
        </a>
        <h3 style="text-align: center;">My Membership</h3>
    </div>
    <div class="card">
        <a href="{% url 'newsletter' %}" class="container blockLink">
            <img class="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Newsletter.png" %}">
        </a>
        <h3 style="text-align: center;">Newsletter</h3>
    </div>
    <div class="card">
        <a href="{% url 'exclusive' %}" class="container blockLink">
            <img class="smallimg" style="height:150px; width:auto; margin-top: 25px;"
                 src="{% static "leo/images/Asset 8.png" %}">
        </a>
        <h3 style="text-align: center;">Exclusive content</h3>
    </div>
</div>
{% endblock %}
