<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leonardo Lounge</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'leo/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leo/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leo/application.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'leo/images/Asset 11.png' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap">
    <style>
      body {
        font-family: 'Red Hat Text', regular;
      }
    </style>
</head>
<body style = "background-color: #C3C6C8; margin: 0;">
    <header>
        <div class = "topnav">
        <div>
            <a href="{% url 'dashboard' %}">
                <img style="height: 200px; width: auto; margin-bottom: 25px" src="{% static "leo/images/Logo.png" %}">
            </a>
        </div>
        </div>
    </header>
        <div class="outer">
            <div class="card">
                <a href = "{% url 'newsletter' %}"class="container blockLink">
                    <img class ="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Newsletter.png" %}">

                </a>
                <h3 style="text-align: center;">Newsletter</h3>
            </div>
            <div class="card">
                <a href = "{% url 'calendar' %}" class="container blockLink">
                    <img class ="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Calendar (1).png" %}">

                </a>
                <h3 style="text-align: center;">Calendar</h3>
            </div>
            <div></div>
            <div class="card">
                <a href = "{% url 'exclusive' %}" class="container blockLink">
                    <img class ="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Asset 8.png" %}">

                </a>
                <h3 style="text-align: center;">Exclusive content</h3>
            </div>
            <div class="card">
                <a href = "{% url 'account' %}" class="container blockLink">
                    <img class ="smallimg" style="height:150px; width:auto; margin-top: 25px;" src="{% static "leo/images/Chair2.png" %}">

                </a>
                <h3 style="text-align: center;">My Membership</h3>
            </div>
        </div>

    <footer>
       <body style="margin: 0;">
            <div class = "footernav">
                <hr style="margin-bottom: 15px">
                <a href="#">Back to top</a>
                <div style="margin-top: 50px"></div>
            </div>
        </body>
    </footer>
</body>
</html>
