{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div style="display: flex; margin-top: 10rem;">
            <div style="margin-right: 25px; margin-left: 3rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" src="{% static "leo/images/Asset 8.png" %}">
            </div>

            <div style="flex-grow: 1; margin-left: 10rem; margin-right: 110px">
                <h1>{{ post.title }}</h1>
                <small>{{ post.post_date }}</small>
                <hr>
                <br>
                {% if post.header_image %}
                    <img src="{{ post.header_image.url }}"><br><br>
                {% endif %}
                <p>{{ post.body }}</p>
                <br><br>
                <a href="{% url 'exclusive' %}">Back</a>
            </div>
        </div>

        <div style="margin-bottom: 100px"></div>
    {% endblock %}