{% load static %}
    {% if user.is_authenticated and request.resolver_match.view_name != 'dashboard' %}
            <nav>
                <a href="{% url 'dashboard' %}" class="nav-logo"><img class="logo-image" src="{% static "leo/images/Newest Logo (blue) 1x.png" %}"></a>
                <ul>
                <li><a href="{% url 'profile' %}" id="nav-account" class="nav-link">My Membership</a></li>
                <li><a href="{% url 'exclusive' %}" id="nav-exclusive" class="nav-link">Exclusive Content</a></li>
                <li><a href="{% url 'calendar' %}" id="nav-calendar" class="nav-link">Calendar</a></li>
                <li><a href="{% url 'newsletter' %}" id="nav-newsletter" class="nav-link">Newsletter</a></li>
                </ul>
            </nav>
    {% else %}
        <header>
                <a href="{% url 'dashboard' %}">
                    <img id="navImage" src="{% static "leo/images/Newest Logo (blue) 1x.png" %}">
                </a>
        </header>
    {% endif %}

