<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'leo/header.css' %}">
</head>
<body>
<div class = "topnav">
        <div style="display: inline-block; margin-right: 25px">
            <img class ="logo-image" src="{% static "leo/images/Logo.png" %}">
        </div>
        <div class = "topnav-right">
            <a style="display: inline-block; font-weight: bold;">Account</a>
            <a style="display: inline-block; font-weight: bold;">Newsletter</a>
            <a style="display: inline-block; font-weight: bold;">Calendar</a>
            <a style="display: inline-block; font-weight: bold;">Exclusive Content</a>
        </div>
    </div>
</body>
</html>