{% load static %}
    {% if user.is_authenticated and request.resolver_match.view_name != 'dashboard' %}
{#        <header>#}
            <nav>
{#                <div class="nav-links">#}
                <a href="{% url 'dashboard' %}" class="nav-logo"><img class="logo-image" src="{% static "leo/images/Newest Logo (blue) 1x.png" %}"></a>
                <ul>
                <li><a href="{% url 'account' %}" id="nav-account" class="nav-link"><p>My Membership</p></a></li>
                <li><a href="{% url 'exclusive' %}" id="nav-exclusive" class="nav-link"><p>Exclusive Content</p></a></li>
                <li><a href="{% url 'calendar' %}" id="nav-calendar" class="nav-link"><p>Calendar</p></a></li>
                <li><a href="{% url 'newsletter' %}" id="nav-newsletter" class="nav-link"><p>Newsletter</p></a></li>
                </ul>
            </nav>
    {% else %}
        <header>
                <a href="{% url 'dashboard' %}">
                    <img id="navImage" src="{% static "leo/images/Newest Logo (blue) 1x.png" %}">
                </a>
        </header>
    {% endif %}

