{% extends "base.html" %}
{% load crispy_forms_filters %}
    {% load static %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container" style="height: initial">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>


<img src="{% static "leo/images/Couch.png" %}" style="object-fit: cover;width: 100%">
{% endblock %}



