{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div style="margin-top: 10rem;">
            <div class = "pic" style="margin-right: 25px; margin-left: 2rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" src="{% static "leo/images/WalletFinal.png" %}">
            </div>

            <div class = "content">
                <h1><b>Membership Cards</b></h1>
                <div>
                    {% if user.is_authenticated %}
                    <div class="containerCard" style="margin-right: 10px; background-image: url('{% static 'leo/images/Pattern.png' %}');">
                        <img src="{% static "leo/images/Card LogoFinal.png" %}">
                        <div>
                            <h5>Cardholder 1:</h5><p style="color: white">{{ user.get_username }}</p>
                        </div>
                        <div>
                            <h5>Lookup ID:</h5><p>7654321</p>
                        </div>
                        <div>
                            <h5>Type:</h5><p>Basic</p>
                        </div>
                        <div>
                           <h5>Membership ID:</h5><p>1234567</p>
                        </div>
                        <div>
                           <h5>Member Since:</h5><p>2021</p>
                        </div>
                        <div>
                            <h5>Valid Through:</h5><p>2022</p>
                        </div>
                    </div>
                    <div class="containerCard" style="margin-right: 10px; background-image: url('{% static 'leo/images/Pattern.png' %}');">
                        <img src="{% static "leo/images/Card LogoFinal.png" %}">
                        <div>
                            <h5>Cardholder 2:</h5><p style="color: white">John Smith</p>
                        </div>
                        <div>
                            <h5>Lookup ID:</h5><p>7654321</p>
                        </div>
                        <div>
                            <h5>Type:</h5><p>Basic</p>
                        </div>
                        <div>
                           <h5>Membership ID:</h5><p>1234567</p>
                        </div>
                        <div>
                           <h5>Member Since:</h5><p>2021</p>
                        </div>
                        <div>
                            <h5>Valid Through:</h5><p>2022</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    <div style="margin-bottom: 100px"></div>
{% endblock %}