{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div style="margin-top: 10rem;">
            <div class = "pic" style="margin-right: 25px; margin-left: 4rem; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" src="{% static "leo/images/Asset 8.png" %}">
            </div>

            <div class = "content">
                <h1><b>Membership Cards</b></h1>
                <div>
                    <div class="containerCard" style="margin-right: 3rem">
                        <img src="{% static "leo/images/Asset 11.png" %}">
                        <p>Cardholder 1:</p><p style="color: white">John Smith</p>
                        <br>
                        <p>Lookup ID:</p><p style="color: white">7654321</p>
                        <br>
                        <p>Type:</p><p style="color: white">Basic</p>
                        <br>
                        <p>Membership ID:</p><p style="color: white">1234567</p>
                        <br>
                        <p>Member Since:</p><p style="color: white">2021</p>
                        <br>
                        <p>Valid Through:</p><p style="color: white">2022</p>
                    </div>
                    <div class="containerCard" >
                        <img src="{% static "leo/images/Asset 11.png" %}">
                        <p>Cardholder 2:</p><p style="color: white">John Smith</p>
                        <br>
                        <p>Lookup ID:</p><p style="color: white">7654321</p>
                        <br>
                        <p>Type:</p><p style="color: white">Basic</p>
                        <br>
                        <p>Membership ID:</p><p style="color: white">1234567</p>
                        <br>
                        <p>Member Since:</p><p style="color: white">2021</p>
                        <br>
                        <p>Valid Through:</p><p style="color: white">2022</p>
                    </div>
                </div>
            </div>
    <div style="margin-bottom: 100px"></div>
{% endblock %}