{% extends "base.html" %}


    {% block content %}

        {% load static %}
        <div style="display: flex; margin-top: 10rem;">

            <div class = "pic" style="margin-right: 25px; margin-left: 50px; position: fixed">
                <img style="height:100px; width:auto; margin-top: 25px;" vertical-align="left" src="{% static "leo/images/NewsletterFinal.png" %}">
            </div>

            <div class="content">
                    <h1><b>Newsletter</b></h1>
                    {% for news in object_list %}
                        <div>
                            <h3>{{ news.post_date }}</h3>
                            <p>{{ news.caption }}</p>
                        </div>
                        <div>
                            <a style="color: #D7006D;"><div style="background-color: white; padding: 5px;">
                            <p style="margin-left: 1em">Click here to read full article</p></div></a>
                        </div>
                        <br>
                    {% endfor %}
            </div>
        </div>

        <div style="margin-bottom: 100px"></div>
    {% endblock %}