{% extends "base.html" %}
{% load crispy_forms_filters %}
    {% load static %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container" style="height: initial">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>


<img src="{% static "leo/images/Couch.png" %}" style="object-fit: cover;width: 100%">
{% endblock %}
