{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="side-panel"><img src="{% static "leo/images/Chair2.png" %}"></div>
    <div class="account-content">
        <div class="page-title">Account</div>
        <hr style="height:4px; border:none; color: black; background-color: black;">
        <div>
            <h3>Your Profile</h3>
            <hr style="color: white">
            <h4>Account Number</h4>
            <p>1234567</p>
            <hr style="color: white">
            <h4>Email</h4>
            <p>user@test.com</p>
            <hr style="color: white">
            <h4>Password</h4>
            <p>**********</p>
        </div>
    </div>
    <div class="account-card">
        <img src="{% static "leo/images/Asset 11.png" %}">
        <div class="account-info-item">
            <div class="account-info-key">Cardholder 1:</div>
            <div class="account-info-value">John Smith</div>
        </div>
        <div class="account-info-item">
            <div class="account-info-key">Lookup ID:</div>
            <div class="account-info-value">7654321</div>
        </div>
        <div class="account-info-item">
            <div class="account-info-key">Type:</div>
            <div class="account-info-value">Basic</div>
        </div>
        <div class="account-info-item">
            <div class="account-info-key">Member Since:</div>
            <div class="account-info-value">2021</div>
        </div>
        <div class="account-info-item">
            <div class="account-info-key">Valid Through:</div>
            <div class="account-info-value">2022</div>
        </div>
    </div>
    <div class="account-details">
        <div class="membership-details">
            <div style="background-color: white; padding: 1rem">
                <h3>Your Membership</h3>
                <a>View other membership options</a>
            </div>
        </div>
        <div class="your-lounge">
            <hr style="height:4px; border:none; color: black; background-color: black;">
            <div>
                <h3>Your Lounge</h3>
                <hr style="color: white">
                <div style="display: flex;">
                    <div style="margin-right: 1rem">
                        <img style="height:75px; width:auto;" src="{% static "leo/images/letter.png" %}">
                    </div>
                    <div style="flex-grow: 1">
                        <h4><a href="{% url 'newsletter' %}"><b>Newsletter</b></a></h4>
                        <p>Some Description</p>
                    </div>
                </div>
                <hr style="color: white">
                <div style="display: flex;">
                    <div style="margin-right: 1rem">
                        <img style="height:75px; width:auto;" src="{% static "leo/images/Calendar (1).png" %}">
                    </div>
                    <div style="flex-grow: 1">
                        <h4><a href="{% url 'calendar' %}"><b>Calendar</b></a></h4>
                        <p>Some Description</p>
                    </div>
                </div>
                <hr style="color: white">
                <div style="display: flex;">
                    <div style="margin-right: 2rem; margin-left: 1rem">
                        <img style="height:75px; width:auto;" src="{% static "leo/images/Asset 8.png" %}">
                    </div>
                    <div style="flex-grow: 1">
                        <h4><a href="{% url 'exclusive' %}"><b>Exclusive Content</b></a></h4>
                        <p>Some Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}