
html, body, .outer {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, white, #76C4D5);
}

.outer {
    font-family: 'Red Hat Text', regular, serif;
    font-size: large;
    display: flex;
    flex-direction: column;
}

.content-body {
    display: flex;
    flex: 1;
    margin-bottom: 5vh;
}

.inner {
    padding-left: 3vw;
    padding-right: 3vw;
    flex: 1;
}

.page-title {
    font-size: xx-large;
    font-weight: bold;
}

.side-panel {
    width: 7vw;
    margin-right: 2vw;
}

.side-panel img {
    height: 120px;
    display: block;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
}

header img {
    height: 250px;
}

/* end of HEADER */

/* NAV */
nav {
    display: flex;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: right;
    list-style: none;

}

nav li {
    align-self: flex-start;
    padding-left: 4rem;
    white-space: nowrap;
    font-weight: bold;

}

nav a {
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
        padding-left: 0;
    }

    nav li {
        padding: 1rem;
        padding-left: 0;
        /*padding-left: 0;*/
    }

    .content-body {
        flex-direction: column;
    }
}

nav .logo-image {
    height: 100px;
    padding-bottom: 20px;
}

#section-account #nav-account,
#section-calendar #nav-calendar,
#section-newsletter #nav-newsletter,
#section-exclusive #nav-exclusive {
    color: #8C4B9D;
    font-weight: bold;
}

/* end of NAV */

/* CALENDAR */
.calendar-frame {
    flex: 1;
}

.calendar-container {
    display: flex;
    flex-direction: row;
}

iframe {
    object-fit: fill;
    /*flex: 1;*/
    width: 100%;
    height: 50vh;
}

/* end of CALENDAR */

/* ACCOUNT */
.account-container {
    display: flex;
}

.account-content {
    flex: 1;
}

.account-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.account-card {
    margin: 50px;
    display: flex;
    object-fit: scale-down;
    flex-direction: column;
    background: #76C4D5;
    border-radius: 20px;
    width: 250px;
}

.account-info-item {
    display: flex;
    padding: 10px;
}

.account-info-value {
    flex: 1;
    color: white;
}

.account-card img {
    justify-content: center;
    padding-bottom: 25px;
    margin: 25px;
}

/* end of ACCOUNT */

/* LOGIN */
.login-bg {
    background-image: url("/static/leo/images/Couch (1).png");
    background-size: 75%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
}

.login-container {
    width: 400px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 25px;
    padding: 16px;
    background-color: white;
}

.login-container input {
    border-radius: 25px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    outline: 0;
    width: 100%;
}

.login-container button {
    background: #76C4D5;
    box-shadow: 3px 3px #0090AA;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-width: thin;
    padding: 17px;
    width: 100%;
}

.login-container button:hover {
    background: #B687B8;
    box-shadow: 3px 3px #925794;
}

.login-container button:focus {
    border-color: #05a;
}

.login-container form {
    padding: 10px;
}

.login-container h2 {
    margin: 10px;
    font-weight: normal;
    text-align: center;
}

/* end of LOGIN*/

/* FOOTER */
footer {
    background-color: #263746;
    text-align: center;
}

footer ul {
    list-style: none;
}

footer a {
    margin-top: 15px;
    color: white; /*change to the leo gray or blue*/
    text-decoration: none;
    font-size: 15px;
    /*font-weight: normal;*/
}

footer a:hover {
    color: #76C4D5; /*change to the leo gray or blue*/
}
footer hr{
    margin-bottom: 15px;
    background-color: white;
    width: 90%;
}

/* end of FOOTER */

/* DASHBOARD */
.dashboard-row {
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dashboard-container a {
    width: 200px;
    height: 200px;
    margin: 50px;
    text-decoration: none;
    background: #f2f2f2;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: black;
    white-space: nowrap;
}

.dashboard-container a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.dashboard-container img {
    max-width: 100%;
    max-height: 80%;
}

/*end of DASHBOARD*/
