
.card {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* Add rounded corners to the top left and the top right corner of the image */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:  linear-gradient(to bottom, white, #76C4D5);
}
footer{
    margin-top: auto;
}

img{
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* On mouse-over, add a deeper shadow */
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.calblock{
  background-color: #76C4D5;
}


/* Add some padding inside the card container */
.container {
  position: relative;
  height: 200px;
  width: 200px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0  8px 16px 0 rgba(0,0,0,0.1);
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.outer{
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 50px;
}


.containerCard {
  position: relative;
  background: #76C4D5;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}
.containerCard p{
  display: inline-block;
  margin-right: 1rem;
}

.containerCard img{
  height:100px;
  width:auto;
  padding: 1rem;
}




.blog a:link{
  color: #D7006D;
  text-decoration: none;
}

.blog a:visited{
  color: #8C4B9D;
  text-decoration: none;
}

.blog a p:visited{
  color: #D7006D;
  text-decoration: none;
}

.blog a:hover{
  text-decoration: none;
}

.blog a p:hover, .blog a h3:hover{
  text-decoration: underline;
}

.blog a:active{
  text-decoration: none;
}

.blog{
  position: relative;
}


@media only screen and (max-width: 600px) {

  .content {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title {
    margin-left: 1rem;
  }

  .pic {
    display: none;
  }

  .imgSize {
    text-align: center;
    width: 90%;
    height: auto;
  }

  .vidSize {
    width: 90%;
    height: auto;
  }


  .Calender{
  /*flex-grow:1;*/
  border:solid 2px #76C4D5;
  border-radius:3%;
  height:150%;
  width: auto;
  frameborder:50;
  scrolling:no;
  }


  .iframeWrapper {
	position: relative;
	padding-bottom: 100%; /* 16:9 */
	padding-top: 50px;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;

}
  .iframeWrapper iframe {
	position: absolute;
	top: 0;
	left: 1rem;
	width: 90%;
	height: 95%;
    border:solid 2px #76C4D5;
  border-radius:3%;

  }
}



  @media only screen and (max-width: 600px){

  .imgSizeDetail{
    text-align: center;
    width: 90%;
    height: auto;
  }

  .vidSizeDetail{
    width: 90%;
    height: auto;
  }

  .mobile-vid{
    text-align: center;
  }
}

@media only screen and (min-width: 601px) {
  .content{
    margin-left: 10rem;
    margin-right: 110px;
  }

  .contentImg{
    display: inline-block;
  }

  .centertext{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
  }

  .imgSize{
    width: 300px;
    height: auto;
  }

  .vidSize{
    width: 300px;
    height: auto;
  }

  .imgSizeDetail{
    width: 80%;
    height: auto;
  }

  .vidSizeDetail{
    width: 80%;
    height: auto;
  }

  .mobile-vid{
    text-align: center;
  }

  .iframeWrapper {
	position: relative;
	padding-bottom: 50%; /* 16:9 */
	padding-top: 50px;
    margin-right: 10rem;

    text-align: center;

  }
  .iframeWrapper iframe {
	position: absolute;
	top: 0;
    left: 10rem;
	width: 90%;
	height: 70%;
    border:solid 2px #76C4D5;
    border-radius:20px;
  }
}
