.img2 {
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    width: 80%;
    z-index: -10;
}


body {
  background: #456;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
    z-index: 10;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
    border-radius: 25px 25px 0 0;
  background: white;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: black;
}

.login-container {
    border-radius: 0 0 25px 25px;
  background: white;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="username"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
    border-radius: 25px 25px 25px 25px;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="username"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #C3C6C8;
    border-radius: 25px 25px 25px 25px;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #76C4D5;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}




